 page-home {


 }

.container{
    text-align: center;
    border-color: brown

}

.bg{
    background-image: url("../../assets/imgs/imagesbg.jpg");
}
.wish{
    font-family: Georgia, 'Times New Roman', Times, serif
}

.fan{
    font-family: 'Courier New', Courier, monospace
}

.b{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


